.h220 {
	height: 220px;
}

.part2 {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.w60P {
	width: 60%;
}

.darkOrange {
	background-color:#e45c00;
}

.modeGroup {
	float: right;
	margin-top: -51px;
}

.modeCation {
	position: absolute; margin: -17px 0 0 -96px;
}

.mt20 {
	margin-top: 20px;
}