<!DOCTYPE html>
<html ng-app="test-task-2-search-for-match">
<head>
	<title>Find match based patterns</title>
	<link rel="stylesheet" type="text/css" href="/css/cosmo-theme-of-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="/js/angular.min.js"></script>
	<script src="/js/application.js"></script>
</head>
<body>
	<div class="container" ng-controller="generalCtrl">

		<div class="col-lg-12">
      <div class="page-header">
        <h1 id="forms">Data</h1>
        <div class="btn-group modeGroup">

        	<div class="modeCation">
        		<h2>Mode</h2>
        	</div>

			    <a class="{{'btn btn-warning ' + getModeBtnClass(1)}}" ng-click="changeMode(1)">1</a>
			    <a class="{{'btn btn-warning ' + getModeBtnClass(2)}}" ng-click="changeMode(2)">2</a>
			    <a class="{{'btn btn-warning ' + getModeBtnClass(3)}}" ng-click="changeMode(3)">3</a>
			  </div>
      </div>
    </div>

    <div class="row">

	    <div class="col-lg-6">
	      <div class="well bs-component">
	        <form class="form-horizontal">
	          <fieldset>
	            <legend>Input</legend>
	            
	            
	            <div class="form-group">
	              <div class="col-lg-12">
	                <textarea readonly="readonly" style="background-color: #fff;" class="form-control" rows="3" id="textArea"><%= input %></textarea>
	              </div>
	            </div>
	            
	            <div class="form-group">
	              <div class="col-lg-10">

	                <button class="btn btn-primary">Load</button>
	              </div>
	            </div>
	          </fieldset>
	        </form>
	      </div>
	    </div>


	    <div class="col-lg-6">
	      <div class="well bs-component">
	        <form class="form-horizontal">
	          <fieldset>
	            <legend>Patterns</legend>
	            
	            
	            <div class="form-group">
	              <div class="col-lg-12">
	                <textarea readonly="readonly" style="background-color: #fff;" class="form-control" rows="3" id="textArea"><%= patterns %></textarea>
	              </div>
	            </div>
	            
	            <div class="form-group">
	              <div class="col-lg-10">
	                <button class="btn btn-primary">Load</button>
	              </div>
	            </div>
	          </fieldset>
	        </form>
	      </div>
			</div>

		</div>


		<div class="part2">
			<hr class="w60P" />		

			<div class="mt20">
				<a class="btn btn-primary btn-lg" ng-click="reveal()">Reveal</a>
			</div>

			<div class="mt40" style="text-align: left;">

				<table ng-hide="resultTableHidden" class="table table-striped table-hover">
				  <thead>
				    <tr>
				      <th>#</th>
				      <th>Input</th>
				      <th>Patterns</th>
				    </tr>
				  </thead>
				  <tbody>
				    
				  	<tr ng-repeat="(key, _match) in match">
				      <td>{{key + 1}}</td>
				      <td>{{_match.input}}</td>
				      <td>
			      		<span class="dBlock" ng-repeat="pattern in _match.patterns">{{pattern}}</span>
				      </td>
				    </tr>

				  </tbody>
				</table> 

				<div class="alert alert-dismissible alert-danger errorPanel" ng-hide="errorPanelHidden">
				  <button type="button" class="close" data-dismiss="alert" ng-click="hideErrorPanel()">&times;</button>
				  {{errorMessage}}
				</div>

			</div>
		</div>

	</div>
</body>
</html>